PyQt5==5.15.9
groq==0.13.1
edge-tts==6.1.9
pygame==2.5.2
selenium==4.16.0
webdriver-manager==4.0.1
mtranslate==1.8
python-dotenv==1.0.1
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python